XTerm*termName: xterm-256color
XTerm*vt100.locale: true
XTerm*saveLines: 16384
XTerm*background: #e5e5e5
XTerm*foreground: black
xterm*font: -*-fixed-medium-r-normal-*-13-*-*-*-*-*-*-*
!XTerm*faceName: Misc Fixed:style=SemiCondensed
XTerm*faceName: Misc Fixed:style=SemiCondensed:lang=ru
XTerm*faceSize: 10
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: small-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
  <Btn2UP>: insert-selection(PRIMARY)

XTerm*selectToClipboard: true


! double click url selection
XTerm.charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
